.dnd5e.sheet .item-buttons button {
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}

.dnd5e.sheet .item-buttons span {
	padding: 0;
}

.local-qol-flavor-text {
    font-size: 12px
}

.minor-qol-full-damage-button,
.minor-qol-half-damage-button,
.minor-qol-double-damage-button,
.minor-qol-full-healing-button
 {
	width: 22px;
	height:22px;
	font-size:10px;
	line-height:1px
}

.minor-qol-flex-container {
	display: flex;
	align-items: center;
	flex-flow: row;
	padding: 3px;
}

.minor-qol-target-name:hover {
	text-shadow: 0 0 4px red;
}
.minor-qol-gmonly {
	display: none;
}